[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "lifepack"]
	path = lifepack
	url = https://github.com/oskarallerslev/lifepack
